LANGSMITH_TRACING
LANGSMITH_API_KEY
LANGSMITH_PROJECT

NEXT_PUBLIC_SUPABASE_URL
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY

OPENROUTER_API_KEY
OPENROUTER_DEFAULT_MODEL
OPENROUTER_FREE_MODEL
OPENROUTER_CHEAP_MODEL
OPENROUTER_STRONG_MODEL
